In [87]:
import pandas as pd
nums = [f'{i:02},' for i in range(0,30)]
dates = pd.date_range('2018-07-01', periods=30, freq='1h')
df = pd.DataFrame({'dates':dates, 'nums': nums}).set_index('dates')
df

                    nums
dates
2018-07-01 00:00:00  00,
2018-07-01 01:00:00  01,
2018-07-01 02:00:00  02,
2018-07-01 03:00:00  03,
2018-07-01 04:00:00  04,
2018-07-01 05:00:00  05,
2018-07-01 06:00:00  06,
2018-07-01 07:00:00  07,
2018-07-01 08:00:00  08,
2018-07-01 09:00:00  09,
2018-07-01 10:00:00  10,
2018-07-01 11:00:00  11,
2018-07-01 12:00:00  12,
2018-07-01 13:00:00  13,
2018-07-01 14:00:00  14,
2018-07-01 15:00:00  15,
2018-07-01 16:00:00  16,
2018-07-01 17:00:00  17,
2018-07-01 18:00:00  18,
2018-07-01 19:00:00  19,
2018-07-01 20:00:00  20,
2018-07-01 21:00:00  21,
2018-07-01 22:00:00  22,
2018-07-01 23:00:00  23,
2018-07-02 00:00:00  24,
2018-07-02 01:00:00  25,
2018-07-02 02:00:00  26,
2018-07-02 03:00:00  27,
2018-07-02 04:00:00  28,
2018-07-02 05:00:00  29,

In [88]:
import dask.dataframe as dd

In [89]:
len(df)

30

In [90]:
ddf = dd.from_pandas(df, npartitions=1).repartition(freq='5h')

In [91]:
ddf.head()

/Users/abanihi/opt/miniconda3/envs/pangeo/lib/python3.6/site-packages/dask/dataframe/core.py:4355: UserWarning: Insufficient elements for `head`. 5 elements requested, only 3 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

                    nums
dates
2018-07-01 00:00:00  00,
2018-07-01 01:00:00  01,
2018-07-01 02:00:00  02,

In [92]:
ddf.npartitions

7

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30 entries, 2018-07-01 00:00:00 to 2018-07-02 05:00:00
Data columns (total 1 columns):
nums    30 non-null object
dtypes: object(1)
memory usage: 480.0+ bytes

In [94]:
for i in range(ddf.npartitions):
    print(ddf.get_partition(i).compute())

                    nums
dates
2018-07-01 00:00:00  00,
2018-07-01 01:00:00  01,
2018-07-01 02:00:00  02,
                    nums
dates
2018-07-01 03:00:00  03,
2018-07-01 04:00:00  04,
2018-07-01 05:00:00  05,
2018-07-01 06:00:00  06,
2018-07-01 07:00:00  07,
                    nums
dates
2018-07-01 08:00:00  08,
2018-07-01 09:00:00  09,
2018-07-01 10:00:00  10,
2018-07-01 11:00:00  11,
2018-07-01 12:00:00  12,
                    nums
dates
2018-07-01 13:00:00  13,
2018-07-01 14:00:00  14,
2018-07-01 15:00:00  15,
2018-07-01 16:00:00  16,
2018-07-01 17:00:00  17,
                    nums
dates
2018-07-01 18:00:00  18,
2018-07-01 19:00:00  19,
2018-07-01 20:00:00  20,
2018-07-01 21:00:00  21,
2018-07-01 22:00:00  22,
                    nums
dates
2018-07-01 23:00:00  23,
2018-07-02 00:00:00  24,
2018-07-02 01:00:00  25,
2018-07-02 02:00:00  26,
2018-07-02 03:00:00  27,
                    nums
dates
2018-07-02 04:00:00  28,
2018-07-02 05:00:00  29,

In [8]:
ddf.index

Dask Index Structure:
npartitions=2
2018-07-01    datetime64[ns]
2018-07-02               ...
2018-07-03               ...
Name: dates, dtype: datetime64[ns]
Dask Name: repartition-merge, 7 tasks

In [16]:
ddf.repartition?

Signature: ddf.repartition(divisions=None, npartitions=None, freq=None, force=False)
Docstring:
Repartition dataframe along new divisions

Parameters
----------
divisions : list, optional
    List of partitions to be used. If specified npartitions will be
    ignored.
npartitions : int, optional
    Number of partitions of output. Only used if divisions isn't
    specified.
freq : str, pd.Timedelta
    A period on which to partition timeseries data like ``'7D'`` or
    ``'12h'`` or ``pd.Timedelta(hours=12)``.  Assumes a datetime index.
force : bool, default False
    Allows the expansion of the existing divisions.
    If False then the new divisions lower and upper bounds must be
    the same as the old divisions.

Examples
--------
>>> df = df.repartition(npartitions=10)  # doctest: +SKIP
>>> df = df.repartition(divisions=[0, 5, 10, 20])  # doctest: +SKIP
>>> df = df.repartition(freq='7d')  # doctest: +SKIP
File:      ~/opt/miniconda3/envs/pangeo/lib/python3.6/site-packages/dask/dataframe/core.py
Type:      method

In [18]:
ddf.divisions[0]

Timestamp('2018-07-01 00:00:00', freq='D')

In [19]:
ddf.divisions[-1]

Timestamp('2018-07-05 00:00:00', freq='D')

In [23]:
divisions = pd.DatetimeIndex(start=ddf.divisions[0], end=ddf.divisions[-1], freq='1d').tolist()
divisions

[Timestamp('2018-07-01 00:00:00', freq='D'),
 Timestamp('2018-07-02 00:00:00', freq='D'),
 Timestamp('2018-07-03 00:00:00', freq='D'),
 Timestamp('2018-07-04 00:00:00', freq='D'),
 Timestamp('2018-07-05 00:00:00', freq='D')]

In [24]:
divisions[-1]

Timestamp('2018-07-05 00:00:00', freq='D')

In [25]:
ddf.divisions[-1]

Timestamp('2018-07-05 00:00:00', freq='D')

In [39]:
start = '2000-01-01'
end = '2000-04-15'
freq = '1D'

In [72]:
ind = pd.DatetimeIndex(start=start, end=end, freq='1D')

In [73]:
ind

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2000-04-06', '2000-04-07', '2000-04-08', '2000-04-09',
               '2000-04-10', '2000-04-11', '2000-04-12', '2000-04-13',
               '2000-04-14', '2000-04-15'],
              dtype='datetime64[ns]', length=106, freq='D')

In [74]:
import numpy as np
df = pd.DataFrame({'x': np.arange(len(ind))}, index=ind)

In [75]:
df

              x
2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
2000-01-08    7
2000-01-09    8
2000-01-10    9
2000-01-11   10
2000-01-12   11
2000-01-13   12
2000-01-14   13
2000-01-15   14
2000-01-16   15
2000-01-17   16
2000-01-18   17
2000-01-19   18
2000-01-20   19
2000-01-21   20
2000-01-22   21
2000-01-23   22
2000-01-24   23
2000-01-25   24
2000-01-26   25
2000-01-27   26
2000-01-28   27
2000-01-29   28
2000-01-30   29
...         ...
2000-03-17   76
2000-03-18   77
2000-03-19   78
2000-03-20   79
2000-03-21   80
2000-03-22   81
2000-03-23   82
2000-03-24   83
2000-03-25   84
2000-03-26   85
2000-03-27   86
2000-03-28   87
2000-03-29   88
2000-03-30   89
2000-03-31   90
2000-04-01   91
2000-04-02   92
2000-04-03   93
2000-04-04   94
2000-04-05   95
2000-04-06   96
2000-04-07   97
2000-04-08   98
2000-04-09   99
2000-04-10  100
2000-04-11  101
2000-04-12  102
2000-04-13  103
2000-04-14  104
2000-04-15  105

[106 rows x 1 columns]

In [76]:
ddf = dd.from_pandas(df, npartitions=1, name='x')

In [77]:
ddf.divisions

(Timestamp('2000-01-01 00:00:00', freq='D'),
 Timestamp('2000-04-15 00:00:00', freq='D'))

In [78]:
ddf.npartitions

1

In [82]:
a = ddf.repartition(freq='21D')

In [83]:
a.npartitions

6

In [86]:
for i in range(ddf.npartitions):
    print(len(ddf.get_partition(i).compute())

106