In [1]:
import dask.dataframe as dd 
from dask.distributed import Client 
import numpy as np 
import pandas as pd

In [2]:
client = Client(processes=False)
client

In [3]:
import dask

In [8]:
df = dask.datasets.timeseries()
df.head()

                       id      name         x         y
timestamp
2000-01-01 00:00:00  1001    Ingrid -0.414297  0.157759
2000-01-01 00:00:01  1031       Tim -0.373251  0.653683
2000-01-01 00:00:02  1002  Patricia -0.124071 -0.048704
2000-01-01 00:00:03   934   Charlie -0.137586 -0.779226
2000-01-01 00:00:04   951       Tim -0.112875  0.840341

In [18]:
mat = df[['x', 'y']].astype('float64').values

In [19]:
mat

dask.array<values, shape=(nan, 2), dtype=float64, chunksize=(nan, 2)>

In [20]:
mask = np.isfinite(mat)

In [21]:
mask

dask.array<isfinite, shape=(nan, 2), dtype=bool, chunksize=(nan, 2)>

In [22]:
keep = np.bitwise_and(mask[:, None, :], mask[:, :, None])

In [23]:
keep

dask.array<bitwise_and, shape=(nan, 2, 2), dtype=bool, chunksize=(nan, 2, 2)>

In [27]:
x = np.where(keep, mat[:, None, :], np.nan)
sums = np.nansum(x, 0)
counts = keep.astype('int').sum(0)

In [29]:
cov = df[['x', 'y']].cov().values

In [30]:
cov

dask.array<values, shape=(nan, 2), dtype=float64, chunksize=(nan, 2)>

In [31]:
dtype = [('sum', sums.dtype), ('count', counts.dtype), ('cov', cov.dtype)]

In [32]:
dtype

[('sum', dtype('float64')),
 ('count', dtype('int64')),
 ('cov', dtype('float64'))]

In [33]:
counts.shape

(2, 2)